# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://xucsxflvcqqklzakatlt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_cPC846G2fkf3SoMUNU1JnA_d7RKUCE1

# Resend Configuration
RESEND_API_KEY=re_your_api_key_here
RESEND_FROM_EMAIL=Lê Văn Sỹ <hi@levansy.com>

# Payment Bank Configuration (VietQR/Sepay)
NEXT_PUBLIC_BANK_NAME=MBBank
NEXT_PUBLIC_BANK_ACC=0987873729
NEXT_PUBLIC_BANK_HOLDER=LE VAN SY
